@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jua&family=Russo+One&display=swap');
body{
    background: #ffffff;
    color: #e5b0d8;
    font-family: 'Russo One', sans-serif;
}

#e-menubar{
    position: absolute;
    left: 500px;
}

#menubar{
    position: absolute;
    top: 200px;
    left:25px;
}

#menubar button{
    width: 220px;
    margin: 10px;
    border: 0px solid #ffffff;
    background-color: #ffffff;
    border-radius: 5px;
    height: 40px;
}
