@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Jua&family=Kdam+Thmor+Pro&family=Poppins:wght@200&family=Russo+One&display=swap');


body{
    background: #d1fbe4;
    color: #6d7f75;
    font-family: serif, sans-serif;
    font-size: 25px;
}

#e-menubar{
    position: fixed;
    left: 250px;

}

#menubar{
    position: fixed;
    top: 0px;
    left:0px;
    background-color: #addaff;
    color: #3d6688;
    height: 100%;
}

#menubar button{
    width: 220px;
    margin: 10px;
    left: -40px;
    border: 0px solid #ffffff;
    background-color: #ffffff;
    border-radius: 5px;
    height: 40px;
    color: #86a8c4;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
}

#tags{
    position: relative;
    top: 200px;
}

#title{
    position: absolute;
    left: 10px;
}

#left-title{
    position: relative;
    font-size: 100px;
    top: -80px;
}

#achieve-today{
    position: relative;
    top: -175px;
    font-size: 50px;
}

#cat-title{
    position: relative;
    top: 220px;
    left: 10px;
}

#task-add{
    position: relative;
    top: -200px;
    width: 600px;
    height: 50px;
    background-color: #d1fbe4;
    border: 0px;
    color: #5e3260;
    font-size: 50px;
    font-family: serif, sans-serif;
}

#tasks-title{
    position: fixed;
    top: 220px;
    font-size: 65px;
    color: rgb(60, 32, 54);
}

#taskbase{
    position: fixed;
    top: 350px;
}

#task-add::placeholder{
    color: #3d6688;
    font-size: 50px;
    font-family: serif, sans-serif;
}

#submit-btn{
    position: relative;
    top: -200px;
    left: 0px;
    color: #3d6688;
    background: #d1fbe4;
    border: 0px;
    font-size: 50px;
}

*:focus {
    outline: none;
}


#cat-popup{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 230px;
    height: 220px;
    top: 250px;
    left: 810px;
    border-radius: 5px;
}

#cat-popup-text-title{
    font-size: 15px;
    
}

#cat-btn{
    position: relative;
    top: -200px;
    left: 0px;
    color: #3d6688;
    background: #d1fbe4;
    border: 0px;
    font-size: 50px;
}

.cat-def-btns{
    color: #224461;
    border: 0px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 35px;
    background-color: #ffffff;
    font-family: Arvo;
    font-weight: 500;
}

#cat-btn-descriptions{
    font-size: 8px;
    font-family:monospace;
    color: rgb(206, 204, 204);
    font-weight: 100;
    position: fixed;
    left: 817px;
}

#allTasksDescription{
    position: fixed;
    top: 280px;
}

#schoolDescription{
    position: fixed;
    top: 353px;
}

#personalDescription{
    position: fixed;
    top: 424px;
}